{% extends 'base.html' %}
{% block conteudo %}
<div class="container"> 
    <h1 class="FC">
        Funcionarios Cadastrados
    </h1>
    <br><br>

    <table>
        <tr>
            <th>Nome</th>
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
        {% for funcionario in funcionarios %}
        <tr>
            <td>{{ funcionario.nome }}</td>
            <td>{{ funcionario.endereco }}</td>
            <td>{{ funcionario.telefone }}</td>
            <td>
                <a href="/editar/{{ loop.index0 }}">Editar</a>|
                <a href="/excluir-funcionario/{{ loop.index0 }}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br><br>
    <a class="Novo Funcionarios"
            href="/cadastrar-funcionario">Novo Funcionario
    </a>
</div>
{% endblock %}
```